*{
	font-family: "Open Sans";
	padding: 0px;
	margin: 0px;
}

body{
	min-width: 960px;
}

nav{
	background: #242424;
	color: #fff;
	height: 50px;
}

nav ul{
	display: block;
	height: 100%;
	list-style: none;
	margin: 0;

}

nav ul li{
	display: inline-block;
}

nav ul li a{
	color: #fff;
	display: block;
	padding: 14px;
	text-decoration: none;
}

.selected,
nav ul li a:hover{
	background: #666;
}


/* Classes */

.caption{
	margin: 20px;
}

.clear::after{
	clear: both;
	content: " ";
	display: block;
	visibility: hidden;
	height: 0px;
}

.img_container{
	margin-top: 50px;
	padding: 0 45px;
	vertical-align: middle;
}

.left{
	float: left;
}

.post{
	margin-top: 20px;
}

.right{
	float: right;
}

a.subtitle{
	text-decoration: none;
}

.subtitle{
	color: #ccc;
	margin-top: 5px;
}

.title{
	color: #666;
	font-size: 20pt;
}

/* Ids */

#about{
	background: #ccc;
	height: 400px;
	text-align: center;
}

#about div{
	display: inline-block;
}

#about_information{
	font-size: 16pt;
	height: 250px;
	margin-top: 90px;
	padding: 5px;
	vertical-align: middle;
}

#company_banner{
	background: url('/images/rackspace_crop.jpg') no-repeat center center;
	background-size: 100% 400px;
	display: table;
	height: 400px;
	margin: 0;
	width: 100%;
}

#company_banner span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#content{
	margin-top: 20px;
	text-align: center;
}

#familiar_languages{
	text-align: center;
}

#lang_container{
	padding: 30px 0;
}

#lang_logos{
	margin: auto;
	text-align: center;
	width: 90%;
}

#lang_logos img{
	filter: grayscale(100%);
	width: 250px;
	-moz-filter: grayscale(85%);
	-webkit-filter: grayscale(85%);
}

#logo{
	padding: 13px;
}

#post_content,
#related_post{
	text-align: left;
}

#prof_img{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	border: 20px solid #fff;
	height: 300px;
	margin-left: 20px;
	margin-top: 45px;
}

#prof_img img{
	height: 100%;
	width: 100%;
}

#recent_blogs{
	text-align: left;
}

#recent_blogs a{
	color: #666;
	text-decoration: none;
}

#recent_blogs a:hover{
	text-decoration: underline;
}

#related_post{
	margin-top: 20px;
}

#sidebar{
	background: #ccc;
}

/* TODO: add mobile support */
