---

layout: default

---

<div class="pure-g">
	<div id="banner" class="pure-u-1">
		<div id="title_container">
			<span id="title">Ballyn Miller</span>
			<div>
				<span id="accent_text">Developer &middot; Gamer &middot; Anime Fanatic</span>
			</div>
		</div>
	</div>
	{% include header.html home=true %}
	{% for post in site.posts %}
		<div class="post pure-u-10-12">
			<div>
				<a class="title" href="{{post.url}}">{{post.title}}</a>
			</div>
			<span class="date">{{post.date | date: "%b %d, %Y" }}</span>
			<p>{{post.excerpt}}</p>
		</div>
	{% endfor %}
</div>
