// Global Variables
@banner_height: 400px;
@image_path: "/assets/images";
@primary_color: #B82E00;
@secondary_color: #812000;
@tertiary_color: #666;

//Mixin's
.playfair(){
	font-family: 'Playfair Display', serif;
}

.niconne(){
	font-family: 'Niconne', cursive;
}

.subtitle(@color: #CACACA){
	color: @color;
	padding-top: 10px;
}

.title(){
	color: @secondary_color;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	text-transform: capitalize;
}

html, body{
	height: 100%;
	min-height: 100%;
}

nav{
	background: @primary_color;
	ul{
		letter-spacing: 0;
		margin: 0;
		padding: 0;
		text-align: center;
		li{
			display: inline-block;
			a{
				color: #fff;
				display: block;
				font-weight: bold;
				padding:14px;
				text-decoration: none;
				.playfair;
				&:hover, &.selected{
					background: @secondary_color;
				}
			}
		}
	}
	&:after{
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
}

#accent-text{
	color: #666;
}

#banner{
	background: url("@{image_path}/pw_maze_white.png");
	display: table;
	height: @banner_height;
	text-align: center;
	#title{
		color: @primary_color;
		font-size: 5em;
		text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
		.niconne;
	}
	#title-container{
		display: table-cell;
		vertical-align: middle;
	}
}

.bg,
#container{
	background: url("@{image_path}/pw_maze_white.png");
}

#content{
	border-bottom: 1px solid rgba(202, 202, 202, 0.7);
	margin-bottom: 20px;
	padding-bottom: 10px;
}

#content-wrapper{
	height: 100%;
}

#mobile-nav{
	display: none;
}

#post-container{
	background: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	margin:30px auto;
	padding: 20px;
}

.date{
	color: #6A6A6A;
}

.excerpt{
	border-left: 6px solid @primary_color;
	padding-left: 8px;
}

.highlight{
	padding: 0 15px;
}

.post {
	border-bottom: 1px dashed fade(@primary_color, 15%);
	letter-spacing: normal;
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	.playfair !important;
	a.title{
		.title;
		text-decoration: none;
		&:hover{
			color:@primary_color;
		}
	}
	div.link-container{
		margin-top: 5px;
	}
	p{
		color: #333;
		margin-bottom: 0;
	}
}

a.read{
	color: @secondary_color;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.related-post{
	margin-top: 10px;
	p{
		margin: 0.5em 0;
	}
}

.subtitle{
	.subtitle(#666;);
}

a.subtitle{
	display: block;
	text-decoration: none;
	.subtitle();
	&:hover{
		text-decoration: underline;
	}
}

.title{
	.title;
}

.underline{
	border-bottom: 3px solid #b82e00;
	padding-right: 5px;
}
