<nav class="pure-u-1  ">
	<div id="mobile_nav"></div>
	<ul>
		<li>
			<a href="/" {% if include.home == true %} class="selected" {% endif %}>Home</a>
		</li><li>
			<a href="/assets/pdf/resume.pdf">Resume</a>
		</li><li>
			<a href="http://github.com/ballynmiller">
				<i class="fa fa-github-square fa-lg"></i>
			</a>
		</li><li>
			<a href="http://www.linkedin.com/in/ballynmiller">
				<i class="fa fa-linkedin-square fa-lg"></i>
			</a>
		</li><li>
			<a href="https://plus.google.com/110752754918991556747">
				<i class="fa fa-google-plus-square fa-lg"></i>
			</a>
		</li>
	</ul>
</nav>
