nav {
  background: #b82e00;
}
nav ul {
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 14px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}
nav ul li a:hover,
nav ul li a.selected {
  background: #812000;
}
#accent_text {
  color: #666;
}
#banner {
  background: url("/assets/images/pw_maze_white.png");
  display: table;
  height: 400px;
  text-align: center;
}
#banner #title {
  color: #b82e00;
  font-size: 5em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
  font-family: 'Niconne', cursive;
}
#banner #title_container {
  display: table-cell;
  vertical-align: middle;
}
#container {
  background: url("/assets/images/pw_maze_white.png");
  min-height: 800px;
  height: auto !important;
  height: 800px;
}
#mobile_nav {
  display: none;
}
#post_container {
  background: #fff;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin: 30px auto;
  padding: 20px;
}
.post {
  border-bottom: 1px dashed rgba(184, 46, 0, 0.15);
  letter-spacing: normal;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  font-family: 'Playfair Display', serif !important;
}
.post a.title {
  color: #812000;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
  text-decoration: none;
}
.post a.title:hover {
  color: #b82e00;
}
.post a.read {
  color: #666666;
  text-decoration: none;
}
.post a.read:hover {
  text-decoration: underline;
}
.post p {
  color: #333;
}
.title {
  color: #812000;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}
